alias a=alias
# brew install bat
alias c=bat
alias k=kubectl
alias m=man
# brew install ddgr
alias s=ddgr
alias tf="terraform"
alias u=unrar

alias rm=trash
alias vd='$EDITOR -d'

##########
#  Tmux  #
##########
alias tat='tmux new-session -As $(basename $PWD | tr . -)'

#########
#  npm  #
#########
alias ngi='npm install -g'
alias ngl='npm ls -g --depth=0'
alias ngo='npm outdated -g'

###########
#  macOS  #
###########
alias b=brew
alias o=open

#################
#  Zsh: global  #
#################
alias -g CC='| pbcopy'
alias -g FF='| fzf'
alias -g H='-h'
alias -g HH='--help'
alias -g HHH='-help'
alias -g L='| less'

#################
#  Zsh: suffix  #
#################
alias -s go=$EDITOR
