alias a=alias
alias c=bat     # brew install bat
alias d=docker  # brew install docker
alias k=kubectl # brew install kubernetes-cli
alias m=man
alias o=open
alias u=unrar
alias v=$EDITOR

alias ls=lsd   # brew install lsd
alias rm=trash # brew install trash
alias tf=terraform
alias vd='$EDITOR -d'


### homebrew
alias b=brew
alias bh='brew home'
alias bi='brew install'
alias bs='brew search'
alias bbc='brew bundle cleanup'
alias bbd='brew bundle dump --force'
alias bbi='brew bundle install -v --no-lock'


### npm
alias ngi='npm install -g'
alias ngl='npm ls -g --depth=0'
alias ngo='npm outdated -g'


### tmux
alias tat='tmux new-session -As $(basename $PWD | tr . -)'


### zsh
alias -g CC='| pbcopy'
alias -g FF='| fzf'
alias -g H='-h'
alias -g HH='--help'
alias -g HHH='-help'
alias -g L='| less'
alias -g BZ='| base64 -d | zcat'
alias -g DY='--dry-run=client -o yaml'
alias -s go=$EDITOR


### Misc.
# Granted
alias assume='. assume' # brew install common-fate/granted/granted

# cheat.sh
alias chtsh="curl -s cht.sh/:list | fzf --preview 'curl -s cht.sh/{}'"
