snippet ael "AddEventListner"
$1.addEventListener('$2', $3);
endsnippet

snippet si "setInterval"
setInterval($1, $2);
endsnippet

snippet te "throw new Error"
throw new Error($1);
endsnippet

### CJS

snippet req "CJS require" 
$0 = require('$1');
endsnippet

# co, https://github.com/tj/co
snippet co "co*"
co(function* $1() {
	$0
}).catch(${2:err} => ${3:{$4}});
endsnippet
