snippet aa "afterAll"
afterAll((${1:done}) => {
  $0
})
endsnippet

snippet ae "afterAll"
afterEach(() => {
  $0
})
endsnippet

snippet ba "beforeAll"
beforeAll(() => {
  $0
})
endsnippet

snippet be "beforeAll"
beforeEach(() => {
  $0
})
endsnippet
