snippet si "setInterval"
setInterval($1, $2);
endsnippet

snippet te "throw new Error"
throw new Error($1);
endsnippet

snippet im "ES6 import" 
import $1 from '$1$0'
endsnippet

snippet imb "ES6 import (object destruction)" 
import {$1} from '$0'
endsnippet

snippet me "module.exports" b
module.exports = $0;
endsnippet

